@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Lora';
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#egypt{
    background: #84B6E1;
    
}
#evolution {
    background: #619ACB;
}
/*Content h1 p and button*/
#intro {
    background: #000;
    opacity: 0.8;
}   

#intro h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#intro p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: 900px;
    }

.button:hover {
    background-color: #333;
}
/*Egypt content*/
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;

}
a {
    color: burlywood;
}
.row h1 {
    color: #000;
    
}

.row p {
    color: #fff;
}

/*Article*/

.article {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 24px;
    padding-left: 400px;
    padding-right: 400px;
}

.article-content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 24px;
    padding-left: 400px;
    padding-right: 400px;
}

.article li {
   list-style-type: georgian;
}
/*Nav*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}



img {
    max-width: 100%;
    height: auto;
    alt: "Description of the image";
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: ;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    
}

